<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question id</th>
      <th>Problem name</th>
      <th>Max points</th>
      <th>Submissions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.Question_ID %></td>
        <td><%= question.Problem_Name %></td>
        <td><%= question.Max_Points %></td>
        <td><%= question.Submissions %></td>
        <td><a href="/questions/show">Show</a></td>
        <td><a href="/questions/edit">Edit</a></td>
        <td><a href="/questions/destroy">Destroy</a></td>
        
        <%# <td><%= link_to 'Show', question_path %></td> %> 
        <%# <td><%= link_to 'Edit', edit_question_path(question) %></td> %> 
        <%# <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td> %> %>
       
       </tr>
    <% end %>
  </tbody>
</table>

<br>
