<p id="notice"><%= notice %></p>

<h1>Problems</h1>

<table>
  <thead>
    <tr>
      <th>Problem</th>
      <th>Problem statement</th>
      <th>Flag</th>
      <th>Supp file</th>
      <th>Upvote downvote</th>
      <th>Max points</th>
      <th>Successful submissions</th>
      <th>Total submissions</th>
      <th>Dirty bit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.problem_id %></td>
        <td><%= problem.problem_statement %></td>
        <td><%= problem.flag %></td>
        <td><%= problem.supp_file %></td>
        <td><%= problem.upvote_downvote %></td>
        <td><%= problem.max_points %></td>
        <td><%= problem.successful_submissions %></td>
        <td><%= problem.total_submissions %></td>
        <td><%= problem.dirty_bit %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem', new_problem_path %>
